<div class="container">
  <div class="col-sm-3">
    <label>System liczbowy podanej liczby:</label>
    <input type="text" ng-model="firstSysNumber" class="form-control"/>
    <div class="alert alert-danger" ng-if="showAlertMessageForEnterSysNumber" ng-hide="firstSysNumber.length === 0">
      <strong>Uwaga!</strong> Błędny typ danych. Obsługiwany tylko typ liczbowy.
    </div>
  </div>

  <div class="col-sm-3">
    <label>Liczba do przeliczenia:</label>
    <input type="text" ng-model="numberToConvert" class="form-control" data-ng-trim="false" />
    <div class="alert alert-danger" ng-if="showAlertMessageForNumberToConvert" ng-hide="numberToConvert.length === 0">
      <strong>Uwaga!</strong> Wprowadzono niedozwolony znak.
    </div>
  </div>

  <div class="col-sm-3">
    <label>Docelowy system liczbowy:</label>
    <input type="text" ng-model="resultSysNumber" class="form-control"/>
    <div class="alert alert-danger" ng-if="showAlertMessageForResultSysNumber" ng-hide="resultSysNumber.length === 0">
      <strong>Uwaga!</strong> Błędny typ danych. Obsługiwany tylko typ liczbowy.
    </div>
  </div>

  <div class="col-sm-3">
    <label>Wynik:</label>
    <input type="text" ng-model="resultNumber" disabled class="form-control"/>
  </div>

  <div class="col-sm-12 text-center">
    <button class="btn btn-info" ng-click="convertNumber();">Przelicz</button>
  </div>
</div>
